.library {
  position: fixed;
  top: 0;
  right: 0;
  width: 20rem;
  height: 100%;
  background-color: white;
  // box-shadow: 2px 2px 50px #353535;
  overflow: scroll;
  transform: translateX(100%);
  transition: all 0.5s ease;

  h2 {
    // padding: 1rem 0;
    text-align: center;
  }

  @media (max-width: 576px) {
    width: 100%
  }
}

.visible {
  transform: initial;
}

.library-header {
  position: sticky;
  top: 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
  // align-items: center;
  padding: 10px 8px;
}

.close-window {
  cursor: pointer;
  // padding: 0 1rem;
  font-size: 32px !important;
  &:hover {
    color: rgb(209, 0, 0);
    transition: 0.15s;}
}

.library-song {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  cursor: pointer;

  &:hover {
    background-color: rgba(231, 231, 231, 0.918);
    transition: 0.2s;
  }

  img {
    width: 40%;
  }
}



.song-description {
  padding-left: 1rem;

  h3 {
    font-size: 1rem;
  }

  h4 {
    font-size: 0.7rem;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

*::-webkit-scrollbar {
  //   width: 5px;
  display: none;
}

.selected {
  background-color: rgba(231, 231, 231, 0.918);
}

